/*
Student:Leisy Moliner Hernandez
Course Module: CPRG210
Date: October 30,2014
Assignment: Project Workshop HTML/CSS/Javascript 
*/

body {
    background-image:url(Images/bg1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    
    font-family: 'Poiret One', cursive;
    text-align: center; 
    font-size: 19px;
    color: white;  
}

/*CSS for text format*/
h1 {
    font-family: 'Poiret One', cursive;
    color:#99CC00;
    text-align: right; 
    font-size: 50px;
    padding: 3px;
    margin: 0;
    margin-right: 20px;
}
h2 {
    font-family: 'Poiret One', cursive;
    text-align: right; 
    color: #99CC00;
    font-size: 30px;
    margin: 0;    
}
h3 {
    font-family: 'Poiret One', cursive;
    text-align: left; 
    color: #99CC00;
    font-size: 18px;
    padding: 3px;
    margin: 0;    
}
div01 {
    font-family: 'Poiret One', cursive;
    color:rgba(255,255,255,0.9); 
    width:200px; 
    height:150px;               
    text-align:left; 
    font-size:15px; 
}
div02 {
    background-color:rgba(1,1,1,0.5);
    font-family: 'Poiret One', cursive;
    color:rgba(255,255,255,1);
    float:right;          
    text-align:left; 
    font-size:15px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
   
/*classes for sections on the pages*/
#wrap {
    background-color:transparent;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding:0px;
}
#header {
    background-color:rgba(1,1,1,0.7);
    color:#99FF33; 
    text-align:right;
    margin-left: auto;
    margin-right: auto;
    height:100px;
    padding:5px;
}
#nav {
    background-color:rgba(1,1,1,0.5);
    text-align: center; 
    float:none;
    color:white;
    font-size: 15px;
    height:40px;
    margin-top:10px;
    padding:10px; 
}
#section {
    color:rgba(255,255,255,0.9);
    text-align: right; 
    font-size:15px;
    float:right;
    width:750px;
    padding:10px;
}
#footer {
    background-color:rgba(1,1,1,0.7);
    color: rgba(255,255,255,0.9); 
    font-size:15px;
    clear: both;
    text-align:center;
    padding:5px; 
    margin-top:10px;
}


/*classes for buttons*/ 
/*navigation menu*/ 
#buttonNav {
    background: rgba(1,1,1,0.7);
    font-family: 'Jura', sans-serif;
    color: #99CC00;
    height: 35px;
    width: 150px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    font-weight:bolder;

}
#buttonNav:hover {
    background-color: #99CC00;
    font-family: 'Jura', sans-serif;
    color:rgba(1,1,1,0.7); 
    text-decoration: none;
    font-weight: bolder;
    
    /*Transition
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;*/
}
/*special ex:logins*/  
#buttonSpecial {
    background: #99CC00;
    font-family: 'Jura', sans-serif;
    color: rgba(1,1,1,0.7);
    height: 35px;
    width: 70px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    font-weight:bolder;
}
#buttonSpecial:hover {
    background-color: rgba(1,1,1,0.7); 
    font-family: 'Jura', sans-serif;
    color:#99CC00;
    text-decoration: none;
    font-weight: bolder;
    
    /*Transition
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;*/
}







div03 {
    text-align:left; 
    float: right;
}
.alignRight {
    text-align:right;
}

#linkcells
{
    background-color:rgba(1,1,1,0.4);
    color: white;
    font-size:25px; 
    text-decoration-skip: ink;
    padding: 15px;
    float: right;
    top: 300px;
}
p01 {
    font-family: 'Poiret One', cursive;
    color:rgba(255,255,255,0.7); 
    text-align: right; 
    font-size: 25px;
    padding: 10px;
    margin-right: 20px;
}

